html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;
     font-family: arial;
}
h1{font-size: 25px;color: white;margin-left: 25px;margin-right: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
p{font-size: 15px;color: white;margin-left: 25px;margin-right: 25px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
li{list-style:none}
ol{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*Aqui empieza la config general*/
body{
    background:url("../img/bg_cordon_negro.jpg");
    background-size:100% 100%;
    background-attachment: fixed; 
    background-repeat:no-repeat;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-img{
    position: absolute;
    right: 80px;
    top: 30px;
    padding: 35px;
}
header p {
    font-size: small;
    position: absolute;
    right: 70px;
    top: 100px
}

header {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
    max-width: 95%;
    margin: auto;
    border:1px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}
nav {
    display: inline-block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
nav li a.active { 
    color: #bcbcbf;
    background-color: #111;
}
#pageContent {
    max-width: 95%;
    margin: auto;
    border: none;
}
main {
    float: left;
    width: 60%;
}
aside {
    float: right;
    width: 30%;
}
article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}
footer {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    max-width: 95%;
    margin: auto;
    clear: both;
    text-align: center;
    border:1px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}
footer p {
    padding: 20px;
}
address {
    padding: 10px 20px 30px 10px;
}
footer a {
    color: #1a638f;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 100px;
    vertical-align: middle;
    margin-right: 10px;
}
body > section {
    max-width: 95%;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

@media screen and (max-width: 95%) {
    body > section {
        padding: 30px 20px;
    }
}
@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }
    aside {
        float: none;
        width: 100%;
    }

}
.strindex{
    display:block;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
    border-radius: 4px;
}

.carousel-caption {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
    padding: 10px 0;
}

.section-white {
    color: #555;
}

@media screen and (min-width: 768px) {

    .section-white {
        padding: 1.5em 0;
    }

}

@media screen and (min-width: 992px) {

    .container {
        max-width: 930px;
        margin-right: 20%;
    }

}
.contacto{    
    margin-bottom: 100px;
    overflow: hidden;
}
.contacto p{
    color: white;
    width: 47%;
    float: right;
    margin-bottom: 10px;
}
.contacto p.contenido{
    color: #ccc;
}
.contacto p.info{
    font-size: large;
    margin-bottom: 50px;
}
.contacto img{
    max-width:100%;
    width: 47%;
    padding-right: 30px;
    float: left;
}
.texto{
    margin-top: 100px;
}
.presentacion{
    display: inline-block;
    width: 100%;
}
.img{
    float: right;
}
.texto-info{
    margin-top: 70px;
    float: left;
    width: 60%;
}
.container-main{
    margin-top: 50px;
    margin-left: 25px;
}
.main-info{
    width:95%;
}
.strong-info{
    color: white;
}
/*---Tabla listarTrayectos---*/
table, tr, td{  
    border:solid black 1px;
}

tr{ 
    padding: 7px;
}
td{
    text-align: center;
    padding: 7px;
}
strong{
    color:black;
}
/*--------------------Tabla para la pagina buscarTrayectos--------------------*/
#zonalista{width:50%;margin:auto;padding:15px;margin-bottom: 50px;}
listatrayectos th,td,tr{background-color:grey;color:black;margin: 50%; }  
th{text-align:center;}
listatrayectos {display:none;padding:50px;}
listatrayectos li span li span{display:block;}
.peque{width:50px;}
acciones{width:80%;margin:auto;text-align: center}
#izda ,#dcha{}
table.tabla-buscar, tr, td{ border:solid black 1px;}
form{color: black;}
/*------imagenes pagina buscarTrayecto-------*/
img.txiki{   
    width: 20px;
    height: 20px;
}
/*menu*/

#wrapper {	
    width: 220px;
    margin: 100px auto;
    font-size: 0.8125em;
}
.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    margin-bottom: 0px;
}
.menu > li > a {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
    -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    box-shadow: inset 0px 1px 0px 0px #878e98;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menu ul li a {
    background: #fff;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #878d95;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
    background-color: #35afe3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
    background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}
.menu > li > a:before {
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}
.item1 > a:before {
    background-position: 0 0;
}
.item2 > a:before {
    background-position: -38px 0;
}
.item3 > a:before {
    background-position: 0 -38px;
}
.item4 > a:before {
    background-position: -38px -38px;
}
.item5 > a:before {
    background-position: -76px 0;
}

.menu > li > ul li a:before{
    font-size: 8px;
    color: #bcbcbf;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a:before {
    color: #32373D;
}


/*--------------------Diseño de la página insertarTrayectos--------------------*/

/**{
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
}*/


/*#izquierda  {
    color:white;
    border:none;
    font-weight:300;
    font-size:24px;
}*/
iframe{
    float: right;
}
/*fieldset{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}*/
#trayecto-form{
    background: transparent;
    color: white;
    font-size: 100%;
    float: left;
    margin-left: 40px;
    margin-right:20px ;
}
#map{
    width: 800px;
    height: 600px;
    margin-top:30px;
    margin-bottom: 10px;
    margin-right: 50px;

}
.trayecto-label{
    color:white;
}
#campoviaje>legend{
    color:white;
}

.unpoquitodemargen{
    margin-left: 6%;
}


.container {

    width: 100%;
    height: 100%;

    padding: 20px;

}

/*--------------------Tablas--------------------*/



.listWrap {

    height: 800px;
    width: 1000px;

}

.list {

    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    white-space: nowrap;
    width: 100%;

}

.list li:not (.plazasACero)  {

    background-color: #f0f0f0;
    display: table-row;
    color: #5c5c5c;
}

.list li:nth-child(odd) {

    background-color: #f2f2f2;
    display: table-row;
    font-size: 11pt;
    color: #5c5c5c;

}

.list li:nth-child(odd):hover {

    background-color: none;

}

.list li:nth-child(even) {

    background-color: #e8e8e8;
    display: table-row;
    font-size: 11pt;
    color: #5c5c5c;

}

.list li:nth-child(even):hover {

    background-color: none;

}

.list li:nth-child(1) span:first-child {

    border-top-left-radius: 6px;

}

.list li:nth-child(1) span:last-child {

    border-top-right-radius: 6px;

}


.list li:nth-child(1) {

    background-color: #201c2b;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    color: #b8b5c0;


}

.list li:nth-child(1):hover {



}



.list li:nth-child(1) span {

    border-bottom: 2px solid #7d5bbe;
    padding: 14px;

}

.list span {

    text-align: left;
    display: table-cell;
    padding: 6px;
    vertical-align: middle;

}


.list span:nth-child(2) {


}

.margenes{

    margin-right: 30%;

}

.margeneslista{
    align-content: center;
    margin-left: auto;
    margin-right: 5%;

}

.margeneslogin{
    align-content: center;
    margin-left: -55%;
    margin-right: 30%;

}

/*-----------------------------valoracion de conductores-------------------------------*/
/*botones votos votados que no revotan*/
.btn-group{margin-left: 175px}
/*imagenes perfiles de usuario*/
.imagencitas{width:150px;height:150px;}
/*datos del conductor*/
.datos-conductor{margin-left: 20px;text-align: center}
/*tabla conductores*/
.valorar{margin-left: 480px}
/*alineando el botonsito de busqueda*/
.alineando-botonsito{margin-left: 620px}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.btn-color{
    margin-left: 20px;
}
.btn-color button{
    margin-left: 10px;
}
.tamano{
    margin-left: 100px;
}
/*kalakuli*/